# Naruto One Discord Bot Credentials
DISCORD_TOKEN=your_discord_bot_token_here
CLIENT_ID=your_client_id_here
PREFIX=.
DEFAULT_EMBED_COLOR=#00E5FF
BANNER_URL=https://i.imgur.com/8QZ5Z2A.png
AVATAR_URL=https://i.imgur.com/8QZ5Z2A.png
